<!DOCTYPE html>
<html lang="es ">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F9 SmartMobile</title>
    <link rel="icon" href="/logo-web.png" type="image/gif" sizes="16x16">
<!--BOOTSTRAP-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<!--CSS CUSTOM-->
<link rel="stylesheet" href="style.css">
    <%- include("partials/navigation.html")%>
</head>
<body>

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="/portada2.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="/mejores-pre.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="/portada4.jpg" alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
            </a>
        </div>
   
<div class="catalogo">
  <div class="container-sm">
    <div class="card-deck">
      <div class="card border-warning h-100 ">
        <img class="card-img-top" src="ultra-20.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center">Samsung Galaxy Note 20 Ultra</h5>
        </div>
        <div class="footer-but">
          <a class="btn btn-primary " href="#" role="button">Más detalles</a>
        </div>
      </div>
      <div class="card border-warning h-100">
        <img class="card-img-top" src="note-20.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center">Samsung Note 20 Ultra</h5>
          
        </div>
        <div class="footer-but">
          <a class="btn btn-primary " href="#" role="button">Más detalles</a>
        </div>
      </div>
      <div class="card border-warning h-100">
        <img class="card-img-top" src="a-71.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center">Samsung A71</h5>
         
        </div>
        <div class="footer-but">
          <a class="btn btn-primary " href="#" role="button">Más detalles</a>
        </div>

      </div>
    </div>
    <div class="card-deck">
      <div class="card border-warning h-100">
        <img class="card-img-top" src="a-51.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center">Samguns A51</h5>
         
        </div>
        <div class="footer-but">
          <a class="btn btn-primary " href="#" role="button">Más detalles</a>
        </div>
      </div>
      <div class="card border-warning h-100">
        <img class="card-img-top" src="s-20.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center">Samsung S20</h5>
         
        </div>
        <div class="footer-but">
          <a class="btn btn-primary " href="#" role="button">Más detalles</a>
        </div>
      </div>
      <div class="card border-warning h-100">
        <img class="card-img-top" src="xoami-10.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center">Xiaomi 10 PRO</h5>
          
        </div>
        <div class="footer-but">
          <a class="btn btn-primary " href="#" role="button">Más detalles</a>
        </div>
      </div>
    </div>
    <div class="card-deck">
      <div class="card border-warning h-100">
        <img class="card-img-top" src="a-31.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center">Samsung A31</h5>
          
        </div>
        <div class="footer-but">
          <a class="btn btn-primary " href="#" role="button">Más detalles</a>
        </div>
      </div>
      <div class="card border-warning h-100">
        <img class="card-img-top" src="xiaomi-pro.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center">Card title</h5>
        
        </div>
        <div class="footer-but">
          <a class="btn btn-primary " href="#" role="button">Más detalles</a>
        </div>
      </div>
      <div class="card border-warning h-100">
        <img class="card-img-top" src="y9s.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center">Huawei Y9S</h5>
         
        </div>
        <div class="footer-but">
          <a class="btn btn-primary " href="#" role="button">Más detalles</a>
        </div>
      </div>
    </div>
  </div>
    </div>
    
    <!--MARCAS-->
   <div class="marcas">
      <img src="/marcass.png" alt="" width="70%">
   </div>
    <!--FEATURES-->
  <div class="features">
    <div class="container">
      <div class="card-deck">
        <div class="card text-white bg-primary mb-3 h-100">
          <img class="card-img-top" src="/caja.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center">Equipos en caja sellada</h5>
            <p class="card-text text-center">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
        <div class="card text-white bg-primary mb-3 h-100">
          <img class="card-img-top" src="/garantia.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center">Garantia de 12 meses</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
        <div class="card text-white bg-primary mb-3 h-100">
          <img class="card-img-top" src="/entrega.jpg" alt="Card image cap">
          <div class="card-body">
              <h5 class="card-title text-center">Entrega Inmediata</h5>
            <p class="card-text text-center">This is a wider card with supporting text below as a natural lead-in to additional content.
              This card has even longer content than the first to show that equal height action.</p>
          </div>
        </div>
      </div>
  </div>
    </div>
    <%- include("partials/footer.html")%>
</body>
</html>